[Unit]
Description=LVBXNT Football Bot V4
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/lvbxnt_football_bot
ExecStart=/opt/lvbxnt_football_bot/.venv/bin/python /opt/lvbxnt_football_bot/app.py
Restart=always
RestartSec=5
User=ubuntu

[Install]
WantedBy=multi-user.target
